python-dotenv==0.15.0
python-http-client==3.3.2
selenium==3.141.0
sendgrid==6.6.0
starkbank-ecdsa==1.1.0
urllib3==1.26.3
certifi==2020.12.5
chardet==4.0.0
idna==2.10
requests==2.25.1
requests_html
bs4
tqdm